@{
    var applicationName = "Landing";
    var authorName = "Top Nguyen";
    var authorWebUrl = "https://topnguyen.com";
    
    var title = ViewData["Title"]?.ToString();

    if (string.IsNullOrWhiteSpace(title))
    {
        title = applicationName;
    }
    else
    {
        title = $"{applicationName} | " + title;
    }

    var description = ViewData["Description"]?.ToString();
    var imageUrl = ViewData["ImageUrl"]?.ToString();
    var facebookType = ViewData["FacebookType"]?.ToString() ?? "website";

    var facebookAdminId = "100006201966137";
    var facebookPages = "100006201966137";
    var publisherUrl = "facebook.com/topnguyen.net/";

    var pageUrl = Url.ActionContext.HttpContext.Request.GetDisplayUrl();
}

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="referrer" content="origin"/>
<meta name="robots" content="noodp"/>
<meta name="application-name" content="@applicationName"/>
<meta name="apple-mobile-web-app-title" content="@applicationName"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

<meta name="author" content="@authorName"/>
<link rel="author" href="@authorWebUrl"/>
<meta name="web_author" content="@authorWebUrl"/>
<meta name="designer" content="@authorWebUrl"/>

<!-- Title -->
<title>@title</title>
<meta name="title" content="@title"/>
<meta property="og:title" content="@title"/>
<meta property="og:site_name" content="@applicationName"/>

<!-- Description -->
<meta name="description" content="@description"/>
<meta property="og:description" content="@description"/>

<link rel="publisher" href="@publisherUrl"/>
<link rel="canonical" href="@pageUrl"/>
<meta property="og:url" content="@pageUrl"/>

<meta property="fb:type" content="@facebookType"/>

@if (!string.IsNullOrWhiteSpace(imageUrl))
{
    <link rel="image_src" href="@imageUrl"/>
    <meta property="og:image" content="@imageUrl"/>
}

@if (!string.IsNullOrWhiteSpace(facebookAdminId))
{
    <meta property="fb:admins" content="@facebookAdminId"/>
}

@if (!string.IsNullOrWhiteSpace(facebookPages))
{
    <meta property="fb:pages" content="@facebookPages"/>
}