@model Goblin.BlogCrawler.Share.Models.GoblinBlogCrawlerPostModel
@{
    var title = Model.Title;

    if (string.IsNullOrWhiteSpace(title))
    {
        title = Model.Url;
    }
}

<div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
    @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
    {
        if (Model.ImageUrl.EndsWith(".mp4"))
        {
            Model.ImageUrl = NoImageHelper.GetRandomNoImageUrl();
        }
        
        <a href="@Model.Url" target="_blank" class="d-block position-relative bg-gradient col-xl-5">

            <img class="flex-fill hover-fade-out" src="@Model.ImageUrl" alt="@title">
            <div class="divider divider-side bg-white d-none d-lg-block"></div>
        </a>
    }

    <div class="p-4 p-md-5 col-xl-7 d-flex align-items-center">
        <div class="p-lg-4 p-xl-5">
            <div class="d-flex justify-content-between align-items-center mb-3 mb-xl-4">
@*                 @if (!string.IsNullOrWhiteSpace(Model.AuthorName)) *@
@*                 { *@
@*                     <label class="badge badge-pill badge-primary">@Model.AuthorName</label> *@
@*                 } *@
                <div class="text-small text-muted">@(Model.PublishTime.ToString("dd MMM yy"))</div>
            </div>

            <a href="@Model.Url" target="_blank">
                <h1>@title</h1>
            </a>

            @if (!string.IsNullOrWhiteSpace(Model.Description))
            {
                <p class="lead">
                    @if (Model.Description.Length > 200)
                    {
                        Model.Description = Model.Description.Substring(0, 200) + "...";
                    }
                    @Model.Description
                </p>
            }

            <a href="@Model.Url" target="_blank" class="lead">Read Story</a>
        </div>
    </div>
</div>