@model Goblin.BlogCrawler.Share.Models.GoblinBlogCrawlerPostModel
@{
    var title = Model.Title;

    if (string.IsNullOrWhiteSpace(title))
    {
        title = Model.Url;
    }
}

<div class="col-lg-4 my-2 my-md-3 my-lg-0">
    <div class="row">
        @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
        {
            <a class="col-5" href="@Model.Url" target="_blank">
                <img class="rounded img-fluid hover-fade-out" src="@Model.ImageUrl" alt="@title">
            </a>
        }
        <div class="col">
            <a class="h6" href="@Model.Url" target="_blank">
                @title
            </a>
            <div class="text-small text-muted mt-2">@(Model.PublishTime.ToString("dd MMM yy"))</div>
        </div>
    </div>
</div>