@model Goblin.BlogCrawler.Share.Models.GoblinBlogCrawlerPostModel
@{
    var title = Model.Title;

    if (string.IsNullOrWhiteSpace(title))
    {
        title = Model.Url;
    }
}

<div class="col-md-6 col-lg-4 mb-3 mb-md-4">
    <div class="card h-100 hover-box-shadow">
        @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
        {
            <a href="@Model.Url" target="_blank" class="d-block bg-gradient rounded-top">
                <div class="rounded hover-fade-out" style="background: url(@Model.ImageUrl) no-repeat center /cover; width: 100%; height: 200px"></div>
            </a>
        }
        <div class="card-body">
            <a href="@Model.Url" target="_blank">
                <h3>@title</h3>
            </a>
            @if (!string.IsNullOrWhiteSpace(Model.Description))
            {
                <p>
                    @if (Model.Description.Length > 200)
                    {
                        Model.Description = Model.Description.Substring(0, 200) + "...";
                    }
                    @Model.Description
                </p>
            }
            <a href="@Model.Url" target="_blank">Read Story</a>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            @if (!string.IsNullOrWhiteSpace(Model.AuthorName))
            {
                <label class="badge badge-pill badge-warning">@Model.AuthorName</label>
            }
            <div class="text-small text-muted">@(Model.PublishTime.ToString("dd MMM yy"))</div>
        </div>
    </div>
</div>