@model BlogModel

@if (Model.Posts?.Any() == true)
{
    <section>
        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                    <h3 class="display-4">
                        Touch on <mark data-aos="highlight-text" data-aos-delay="500">blog collection</mark>, <br/>
                        unlock your mind!
                    </h3>
                </div>
            </div>
            <div class="row">
                @for (int i = 0; i < Model.Posts.Count; i++)
                {
                    var postModel = Model.Posts[i];

                    var title = postModel.Title;

                    if (string.IsNullOrWhiteSpace(title))
                    {
                        title = postModel.Url;
                    }

                    <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                        <div class="card h-100 hover-box-shadow">
                            @if (!string.IsNullOrWhiteSpace(postModel.ImageUrl))
                            {
                                if (postModel.ImageUrl.EndsWith(".mp4"))
                                {
                                    postModel.ImageUrl = NoImageHelper.GetRandomNoImageUrl();
                                }
                                
                                <a href="@postModel.Url" target="_blank" class="d-block bg-gradient rounded-top">
                                    <div class="rounded hover-fade-out" style="background: url(@postModel.ImageUrl) no-repeat center /cover; width: 100%; height: 250px"></div>
                                </a>
                            }
                            <div class="card-body">
                                <a href="@postModel.Url" target="_blank">
                                    <h3>@title</h3>
                                </a>

                                @if (!string.IsNullOrWhiteSpace(postModel.Description))
                                {
                                    <p>
                                        @if (postModel.Description.Length > 200)
                                        {
                                            postModel.Description = postModel.Description.Substring(0, 200) + "...";
                                        }
                                        @postModel.Description
                                    </p>
                                }

                                <a href="@postModel.Url" target="_blank">Read Story</a>
                            </div>
                            <div class="card-footer d-flex justify-content-between align-items-center">
@*                                 @if (!string.IsNullOrWhiteSpace(postModel.AuthorName)) *@
@*                                 { *@
@*                                     <label class="badge badge-pill badge-warning">@postModel.AuthorName</label> *@
@*                                 } *@
                                <div class="text-small text-muted">@(postModel.PublishTime.ToString("dd MMM yy"))</div>
                            </div>
                        </div>
                    </div>

                    if (i >= 5)
                    {
                        break;
                    }
                }
            </div>
        </div>
    </section>
}